body {
    margin: 0;
}

main {
    padding: 24px;
}

#list-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.card {
    background-color: black;
    padding: 24px;
    color: white;
    display: flex;
    align-items: center;
    width: calc(100% - 48px);
    flex-direction: column;
}
