body {
    margin: 0;
}

main {
    padding: 24px;
}

#list-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.card {
    background-color: black;
    padding: 24px;
    color: white;
    display: flex;
    width: calc(100% - 48px);
    justify-content: space-between;
}

.card .text {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

